@import '../../../variables';

.personalInfoContainer {
	display: flex;
	flex-direction: column;

	.inputs {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}
}

.labelContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.4rem;
	@media (min-width: $md-breakpoint) {
		margin-bottom: 1rem;
	}
	.errorMessage {
		color: hsla(353, 84%, 57%, 1);
		font-size: 1.2rem;
		line-height: 1.4rem;
		@media (min-width: $md-breakpoint) {
			font-size: 1.4rem;
			line-height: 1.6rem;
		}
	}
}

.inputLabel {
	color: var(--clr-primary-700);
	font-size: 1.2rem;
	line-height: 1.4rem;
	@media (min-width: $md-breakpoint) {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
}

.input {
	caret-color: var(--clr-primary-700);
	padding: 1.2rem 0;
	padding-left: 1.6rem;
	border: 1px solid var(--clr-neutral-400);
	border-radius: 4px;
	cursor: pointer;
	@media (min-width: 800px) {
		padding: 1.5rem 0;
		padding-left: 1.6rem;
	}
}

.input:not(.errorBorder):is(:focus, :active) {
	outline: 1px solid blue;
}
