@import '../variables';

.footer {
  display: flex;
  background-color: var(--clr-neutral-100);
  padding: 1.6rem;
  margin-top: 2.4rem;
  align-self: center;
  @media (min-width: $md-breakpoint) {
    grid-column: 2;
    width: 100%;
    max-width: 45rem;
    margin-top: auto;
    margin-inline: auto;
  }

  //push down the footer at the bottom of the page on smaller screens
  @media (max-width: $md-breakpoint) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .backButton {
    margin-right: auto;
  }

  .nextButton {
    margin-left: auto;
  }
}
