@import '../variables';

.planCard {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 1.6rem;
  border: 1px solid #d6d9e6;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: var(--clr-neutral-200);
    border: 1px solid var(--clr-primary-500) !important;
  }

  img {
    height: 4rem;
    width: 4rem;
  }


  @media (min-width: $md-breakpoint) {
    flex-direction: column;
    align-items: flex-start;
    width: 14rem;
    gap: 4rem;
  }
}

.planInfo {
  display: flex;
  flex-direction: column;
  gap: .7rem;

  .title {
    color: var(--clr-primary-700);
    font-weight: 500;
    font-size: 1.6rem;
  }

  .price {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .yearlyGift {
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--clr-primary-700);
  }
}


.selected {
  background: var(--clr-neutral-200);
  border: 1px solid var(--clr-primary-500) !important;
}



