.sectionHeading {
  margin-bottom: 2.2rem;

  h1 {
    margin-bottom: 0.9rem;
  }

  p {
    line-height: 2.5rem;
  }

  @media (min-width: 800px) {
    margin-bottom: 4rem;
    h1 {
      margin-bottom: 1.1rem;
    }
  }
}