@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import 'variables';

:root {
  --clr-primary-100: hsl(206, 94%, 87%);
  --clr-primary-300: hsl(228, 100%, 84%);
  --clr-primary-400: hsl(354, 84%, 57%);
  --clr-primary-500: hsl(243, 100%, 62%);
  --clr-primary-700: hsl(213, 96%, 18%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(231, 100%, 99%);
  --clr-neutral-300: hsl(217, 100%, 97%);
  --clr-neutral-400: hsl(229, 24%, 87%);
  --clr-neutral-700: hsl(231, 11%, 63%);

  --ff-primary: 'Ubuntu', sans-serif;

  --fs-heading: 2.4rem;
  --fs-body-s: 1.2rem;
  --fs-body-m: 1.4rem;
  --fs-body-l: 1.6rem;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --lh-heading: 2.8rem;
  --lh-300: 3.2rem;
  --lh-400: 4rem;
  --lh-700: 4rem;
}

@media (min-width: $md-breakpoint) {
  :root {
    --fs-heading: 3.2rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#root {
  @media (min-width: $md-breakpoint) {
    display: flex;
    height: 100vh;
  }
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-700);
  background-color: var(--clr-neutral-300);
}

h1 {
  font-size: var(--fs-heading);
  color: var(--clr-primary-700);
}

h3 {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-primary-700);
}

button {
  font-size: var(--fs-body-m);
  padding: 1.2rem 1.6rem;
}

.App {
  display: grid;
  width: 100%;
  max-width: 94rem;
  max-height: 60rem;
  margin: auto;

  @media (min-width: $md-breakpoint) {
    grid-template-columns: 27.4rem 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--clr-neutral-100);
    padding: 1.6rem;
    border-radius: 15px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.section-container {
  margin-inline: 1.6rem;
  padding: 3.2rem 2.4rem;
  background-color: var(--clr-neutral-100);
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
  margin-top: -7.5rem;
  @media (min-width: 800px) {
    padding: 0;
    max-width: 45rem;
    margin: 0 auto;
    margin-top: 5.6rem;
  }
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.3rem;
  height: 3.3rem;
  border: 1px solid #ffffff;
  border-radius: 100vh;
}

.active {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-500);
  border: none;
}
